 <head>
  <title>
    <% if content_for?(:page_title) %>
      <%= yield :page_title %> |
    <% end %>
    Rails + Vue ⚡️
  </title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= vite_client_tag %>
  <%= vite_stylesheet_tag 'application.css' %>
  <%= vite_typescript_tag 'application' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->
</head>
